.app {
  /* overscroll-behavior-y: none; */
  /* display: flex; */
  /* position: relative; */
  height: 95vh;
  /* padding: 0 1.4rem; */
  display: grid;
  grid-template-columns: 1fr 90%;
  grid-template-rows: 8% 87% 5%;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 32px;
  height: 100dvh;
}
